<?xml version="1.0" encoding="UTF-8"?><Profil Name="Standard (3img)">
	<Infos>
		<Author>Screech</Author>
		<Description>3 images assembled : 3D Box, Screenshot and Wheel</Description>
	</Infos>
	<General>
		<Empty_Exemple>Empty_exemple.jpg</Empty_Exemple>
		<Full_Exemple>Full_exemple.jpg</Full_Exemple>
		<Target_Width>600</Target_Width>
		<Target_Height>400</Target_Height>
	</General>
	<Compression>
		<use>yes</use>
		<soft>pngquant.exe</soft>
		<parameter>--force --verbose --ordered --speed=1 --quality=30-90 --ext .png</parameter>
	</Compression>
	<Root>
		<Source_Value>Data</Source_Value>
		<Target_Value>gameList</Target_Value>
	</Root>
	<Game>
		<Source_Value>Data/jeu</Source_Value>
		<Target_Value>gameList/game</Target_Value>
	</Game>
	<Country>
		<Source_Value>Data/jeu/region</Source_Value>
	</Country>
	<Element>
		<Name>screenTEMP</Name>
		<Source_Type>XML_Value</Source_Type>
		<source_Origin>Game</source_Origin>
		<Source_Value>Data/jeu/medias/media_screenshot</Source_Value>
		<Target_Width>%0.9</Target_Width>
		<Target_Height>%0.85</Target_Height>
		<Target_TopLeftX>0</Target_TopLeftX> 
		<Target_TopLeftY>50</Target_TopLeftY> 
		<Target_TopRightX>500</Target_TopRightX> 
		<Target_TopRightY>100</Target_TopRightY>
		<Target_BottomLeftX>50</Target_BottomLeftX> 
		<Target_BottomLeftY>300</Target_BottomLeftY>

		<Target_Maximize>Yes</Target_Maximize> 
	</Element>
	<Element>
		<Name>box3dTEMP</Name>
		<Source_Type>XML_Value</Source_Type>
		<source_Origin>Game</source_Origin>
		<Source_Value>Data/jeu/medias/media_boxs/media_boxs3d/media_box3d_%COUNTRY%</Source_Value>
		<Target_Width>%0.5</Target_Width>
		<Target_Height>%0.75</Target_Height>
		<Target_TopLeftX>LEFT</Target_TopLeftX> 
		<Target_TopLeftY>DOWN</Target_TopLeftY> 
		<Target_Maximize>Yes</Target_Maximize> 
	</Element>
	<Element>
		<Name>wheelTEMP</Name>
		<Source_Type>XML_Value</Source_Type>
		<source_Origin>Game</source_Origin>
		<Source_Value>Data/jeu/medias/media_wheels/media_wheel_%COUNTRY%</Source_Value>
		<Target_Width>%0.5</Target_Width>
		<Target_Height>%0.333</Target_Height>
		<Target_TopLeftX>RIGHT</Target_TopLeftX> 
		<Target_TopLeftY>DOWN</Target_TopLeftY> 
		<Target_OriginPicX>CENTER</Target_OriginPicX> 
		<Target_OriginPicY>CENTER</Target_OriginPicY> 
		<Target_Maximize>Yes</Target_Maximize> 
	</Element>
	<Element>
		<Name>NbJoueurTEMP</Name>
		<Source_Type>Text</Source_Type>
		<Source_TextType>XML_Value</Source_TextType>
		<Source_Value>Data/jeu/joueurs</Source_Value>
		<Target_Font>Arial</Target_Font>
		<Target_FontSize>20</Target_FontSize>
		<Target_FontStyle>3</Target_FontStyle>
		<Target_FontColor>0xFFFF0000</Target_FontColor>
		<Target_TopLeftX>CENTER</Target_TopLeftX>
		<Target_TopLeftY>UP</Target_TopLeftY>
	</Element>
</Profil>